* {
	margin: 0px;
	padding: 0px;
	font-family: 'Permanent Marker', cursive;
}

.header {
	background: Silver;
	border-radius: 10px;
	color: Maroon;
}

form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.todoItems {
	margin-top: 20px;
	padding: 0px;
	border: 2px solid Maroon;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}



li p {
	display: inline-block;
	margin: 5px 0px;
	border-bottom: 1px;
	border-bottom-style: dotted;
}

.deleteButton {
	margin: 5px 0px;
	padding: 0px 0px;
}
