* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

.header {
	background: Silver;
	border-radius: 10px;
	color: Maroon;
}

form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.todoItems {
	margin-top: 20px;
	padding: 0px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

li {
	border: 1px dotted Maroon;
	border-radius: 3px;
	margin: 2px 0px;
}

li p {
	display: inline-block;
	margin: 7px 0px;
}

.deleteButton {
	margin: 5px 0px;
	padding: 0px 0px;
}
